server {
    listen ${LISTEN_PORT};
    server_name k11b205.p.ssafy.io;

    location /landing/assets/ {
        alias /usr/share/nginx/landinghtml/assets/;
        try_files $uri $uri/ =404;
    }

    location / {
        root /usr/share/nginx/landinghtml;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/landinghtml;
    }
}